doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather 
    link(rel='stylesheet', href='/style.css')
  body
    h1 Weather
    input#zip-code(type='text', autofocus=true, placeholder='zip')
    button#get-cams Get Cams
    button#nsa My Cams
    #images
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
